@model ASP.NETCORE_PROJECT.Models.Product

@{
    ViewBag.Title = "Admin | Edit phone product page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main -->
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-ticket icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Product phone
                    <div class="page-title-subheading">
                        View, create, update, delete and manage.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="EditPhoneProducts" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cpu" class="control-label">Cpu</label>
                            <input asp-for="Cpu" class="form-control" />
                            <span asp-validation-for="Cpu" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Screen" class="control-label">Screen</label>
                            <input asp-for="Screen" class="form-control" />
                            <span asp-validation-for="Screen" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FrontCamera" class="control-label">Front camera</label>
                            <input asp-for="FrontCamera" class="form-control" />
                            <span asp-validation-for="FrontCamera" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BackCamera" class="control-label">Back camera</label>
                            <input asp-for="BackCamera" class="form-control" />
                            <span asp-validation-for="BackCamera" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Sim" class="control-label">Sim</label>
                            <input asp-for="Sim" class="form-control" />
                            <span asp-validation-for="Sim" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ram" class="control-label">Ram</label>
                            <input asp-for="Ram" class="form-control" />
                            <span asp-validation-for="Ram" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Storage" class="control-label">Storage</label>
                            <input asp-for="Storage" class="form-control" />
                            <span asp-validation-for="Storage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OperatingSystem" class="control-label">Operating system</label>
                            <input asp-for="OperatingSystem" class="form-control" />
                            <span asp-validation-for="OperatingSystem" class="text-danger"></span>
                            </div>
                        <div class="form-group">
                            <label asp-for="Feature" class="control-label">Feature</label>
                            <input asp-for="Feature" class="form-control" />
                            <span asp-validation-for="Feature" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Origin" class="control-label">Origin</label>
                            <input asp-for="Origin" class="form-control" />
                            <span asp-validation-for="Origin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SizeVolume" class="control-label">Size, volume</label>
                            <input asp-for="SizeVolume" class="form-control" />
                            <span asp-validation-for="SizeVolume" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Battery" class="control-label">Battery</label>
                            <input asp-for="Battery" class="form-control" />
                            <span asp-validation-for="Battery" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">Quantity</label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="YearOfManufacturer" class="control-label">Year of manufacture</label>
                            <input asp-for="YearOfManufacturer" class="form-control" />
                            <span asp-validation-for="YearOfManufacturer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Color" class="control-label">Color</label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductImage" class="control-label">Image</label>
                            <div class="custom-file">
                                <input type="file" asp-for="ProductImage" class="custom-file-input" id="file"
                                       onchange="document.getElementById('ImagePrv').src=window.URL.createObjectURL(this.files[0])" />

                                <label class="custom-file-label" for="file">Choose file</label>
                            </div>
                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                            <img id="ImagePrv" src="~/Admin/assets/images/product/@Model.Image" alt="Image" width="100px" height="100px" style="border:1px solid blue;margin-top:20px;" />
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label">Brand</label>
                            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                        </div>
                        <div class="position-relative row form-group mb-1">
                            <div class="col-md-9 col-xl-8 offset-md-5">
                                <a asp-action="ListProductPhone" asp-controller="Product" class="border-0 btn btn-outline-danger mr-1">
                                    <span class="btn-icon-wrapper pr-1 opacity-8">
                                        <i class="fa fa-times fa-w-20"></i>
                                    </span>
                                    <span>Cancel</span>
                                </a>

                                <button type="submit"
                                        class="btn-shadow btn-hover-shine btn btn-primary">
                                    <span class="btn-icon-wrapper pr-2 opacity-8">
                                        <i class="fa fa-download fa-w-20"></i>
                                    </span>
                                    <span>Save</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
