@page
@model AccessDeniedModel
@{
    
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">RẤT TIẾC, BẠN KHÔNG CÓ QUYỀN TRUY CẬP !</h2>
</div>
